/* =Base
----------------------------------------------- */

* {
    box-sizing: border-box;
}
body {
    background: #f5f5f5;
}

/* =Typography
----------------------------------------------- */

body {
    color: rgba(50, 50, 50, 0.7);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p {
    margin-bottom: 24px;
}

/* Headings */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    color: #101010;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 24px 0;
}
h1 {
    font-size: 30px;
}

/* Links */
a {
    color: #428bca;
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    color: #2a6496;
}

/* =Utilities
----------------------------------------------- */

/* Loader */
.loader {
    background-color: #ddd;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05);
    display: block;
    position: relative;
    width: 400px;
    height: 40px;
}
.loader:after {
    background-color: #fff;
    animation-name: loader-slide;
    animation-duration: 2s;
    animation-easing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 100px;
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 360px;
}
@keyframes loader-slide {
    0% {
        right: 360px;
        left: 2px;
    }
    5% {
        left: 2px;
    }
    50% {
        right: 2px;
        left: 360px;
    }
    55% {
        right: 2px;
    }
    100% {
        right: 360px;
        left: 2px;
    }
}

/* =Forms
----------------------------------------------- */

/* Labels */
label {
    color: #333;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    margin: 0 4px 15px 4px;
    max-width: 100%;
}

/* Fields */
input[type='email'],
input[type='password'],
input[type='text'] {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0;
    border: 1px solid rgba(176, 176, 176, 0.4);
    color: rgba(50, 50, 50, 0.7);
    display: block;
    font-size: 14px;
    height: 50px;
    line-height: 16px;
    margin: 0 0 15px 0;
    padding: 16px 18px;
    width: 100%;
}
input[type='email']:focus,
input[type='password']:focus,
input[type='text']:focus {
    border-color: #de352e;
    box-shadow: 0 0 10px rgba(222, 53, 46, 0.5);
    outline: 0;
}

/* Buttons */
button {
    background-color: #de352e;
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.12em;
    line-height: 16px;
    margin-bottom: 0;
    padding: 15px 22px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: background-color 0.2s ease-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
button:hover {
    background-color: #101010;
}

/* Error */
.error {
    background: #ffeeee;
    border-left: 4px solid #ad1111;
    color: #ad1111;
    padding: 14px 20px;
}

/* =Layout
----------------------------------------------- */

.view-home > .wrap,
.view-profile > .wrap,
.view-not-found > .wrap {
    margin: 0 auto;
    max-width: 800px;
    padding: 50px 0;
}
.view-login > .wrap,
.view-register > .wrap {
    background: #fff;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.5);
    margin: 40px auto;
    max-width: 550px;
    padding: 40px 60px;
}

/* =Characters
----------------------------------------------- */

.character-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.character {
    background: #fff;
    box-shadow: 0 0 2px rgba(200, 200, 200, 0.5);
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
}

/* Avatar */
.character .avatar img {
    background-color: #eee;
    object-fit: cover;
    width: 80px;
    height: 80px;
}

/* Info */
.character .info {
    display: block;
    padding: 10px 24px;
}
.character .name {
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}
.character .meta {
    color: #777;
    font-size: 14px;
}

/* Actions Menu */
.character .actions-menu {
    margin-right: 20px;
}
.character .actions-menu ul {
    display: flex;
    padding: 10px;
}
.character .actions-menu li {
    padding: 0 8px;
}
.character .actions-menu a {
    color: #666;
    display: block;
}
.character .actions-menu a:hover {
    color: #101010;
}

/* =Search
----------------------------------------------- */

/* Search Box */
.search-field {
    text-align: center;
}
.search-field .search-title {
    font-family: 'Bangers';
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 0 #fff;
}
.search-field input {
    border: 4px solid transparent;
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
    display: block;
    font-size: 24px;
    padding: 40px;
    text-align: center;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 100%;
}
.search-field input:focus {
    border-color: #de352e;
    box-shadow: 0 0 10px rgba(222, 53, 46, 0.5);
}

/* Seach Results */
.search-results {
    padding: 40px 0;
}
.search-results .loader {
    margin: 60px auto;
}

/* No Results */
.search-results .error {
    color: #bbb;
    font-size: 24px;
    font-style: italic;
    text-align: center;
}
